html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
p{
  margin: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body{
  font-family:'SFProDisplay-Regular', sans-serif;
  color: #2f3035;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section{
  margin-bottom: 80px;
}

.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family:'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}
.menu__item{
  display: inline-block;
}
.menu__item + .menu__item{
  padding-left: 50px;
}
.header__box{
  display: flex;
}
.header__address{
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
  position: relative;
}
.header__address::before{
  content: '';
  position: absolute;
  background-image: url('../images/address-icon.svg');
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}
.user-list{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.user-list__item{
  padding-right: 10px;
}
.basket{
  position: relative;
}
.basket__num{
  background-color: #1C62CD;
  font-family:'SFProDisplay-Semibold', sans-serif;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  line-height: 20px;
  font-size: 10px;
  width: 20px;
  height: 20px; 
  right: -14px;
  bottom: -15px;
}

.header__bottom{
  margin-bottom: 80px;
}
.menu-categories{
  background-color: #f0f0f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}
.menu-categories__link{
  position: relative;
  transition: all .3s;
  font-weight: 400;
  padding: 15px 0 14px;
}
.menu-categories__link::before{
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #1C62CD;
  height: 3px;
  bottom: -2px;
  transition: all .3s;
}
.menu-categories__link:hover{
  color: #000;
} 
.menu-categories__link:hover::before{
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-section__slider{
  max-width: 870px;
}
.banner-section__slider-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0; 
  z-index: 5;
}
.banner-section__slider-btn-prev{
  left: 20px;
}
.banner-section__slider-btn-next{
  right: 20px;
}
.slick-dots{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li{
  display: inline-block;
  padding: 0 5px;
}
.slick-dots button{
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slick-active button{ 
  background-color: #fff;
}

.sale-item{
  max-width:  265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.sale-item__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 7px;
}
.sale-item__info{
  color: #fff;
  background-color: #1C62CD;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.price{
  position: relative;
  font-family: 'Barlow', sans-serif;
}
.sale-item__price{
  text-align: right;
}
.sale-item__price-new{
  display: flex;
  align-items: center;
  font-size: 27px;
  line-height: 32px;
  color: #1C62CD;
  font-weight: 700;
  margin-right: 6px;
  padding-right: 20px;
}
.sale-item__price-new::after{
  content: '';
  background-image: url('../images/icons-price.svg');
  position: absolute;
  right: 0;
  width: 15px;
  height: 18px;

}
.sale-item__price-old{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  margin-right: 15px;
  background-image: url('../images/old-line.svg');
  padding: 2px 5px;
  background-repeat: no-repeat;
  display: inline-block;
}
.sale-item__price-old::after{
  content: '';
  background-image: url('../images/icons-price-old.svg');
  position: absolute;
  right: -10px;
  top: 8px;
  width: 8px;
  height: 10px;
}
.sale-item__footer{
  display: block;
  background-color: #f0f0f4;
  padding: 27px 20px 26px 20px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.sale-item__footer span{
  display: block;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: #1C62CD;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.sale-item__title{
  font-family:'SFProDisplay-Bold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 7px;
}
.sale-item__img{
  object-fit: contain;
  margin-bottom: 5px;
}
.banner-section__slider-img{
  object-fit: cover;
  min-height: 400px;
}

.search__tabs{
  margin-bottom: 25px;
}
.search__tabs-item{
  padding: 11px 26px 12px;
}
.search__tabs-item--active{
  font-family:'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  background-color: #f0f0f4;
}
.search__content-item{
  display: none;
}
.search__content-item--active{
  display: block;
}

.search__content-form{
  display: flex;
}
.search__content-input{
  border-radius: 3px;
  background-color: #f0f0f4;
  padding: 5px 20px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}
.search__content-input::placeholder{
  color: #656464;
}
.search__content-btn{
  background: #1C62CD;
  border-radius: 3px;
  font-family:'SFProDisplay-Bold', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 41px;
  border: none;
  margin-left: -3px;
  cursor: pointer;
}
